<html>
<head>
     <script src="../js/jquery-3.2.1.min.js"></script>
	 <script src="../js/script.js"></script>
     <script type="text/javascript" src="../js/HexagonTools.js"></script>
     <script src="../js/grid.js"></script>
	 <script src="../js/polyHelper.js"></script>
	 <script src="../js/algHelper.js"></script>
	 <script src="../js/game.js"></script>
	
</head>
    
<body style="margin: 0px;"> 
<div>
	<label id="alg" style="position:absolute;right:200px;top:0">AStar</label>
	<button onclick="Game.StartGame()" style="position:absolute;right:0px;">Start Algorithm</button>
	<button onclick="Game.ClearGrid()" style="position:absolute;right:0px;top:20px">Clear Grid</button>
	<button onclick="Game.ClearAlg()" style="position:absolute;right:0px;top:40px">Clear Algorithm</button>
	<button onclick="Game.ChangeAlg(0)" style="position:absolute;right:0px;top:60px">Use Dijkstra</button>
	<button onclick="Game.ChangeAlg(1)" style="position:absolute;right:0px;top:80px">Use AStar</button>
	<button onclick="Game.ChangeAlg(2)" style="position:absolute;right:0px;top:100px">Use Anneal</button>
</div>
<canvas id="hexCanvas" width="1500" height="1000" style="width:1500px;height:1000px" />

    
    <script>
        $(document).ready(_ => {
          Game.InitCanvas();
			
	       Game.InitHexagonGrid();//TODO depends on type	
   			
           $("#hexCanvas").click(e => Game.CanvasClickHandler(e));    
        });
		
    </script>
</body>
</html>